html {
    height: -webkit-fill-available;
}
body {
    padding: 0%;
    padding-top: 0vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: rgb(58,137,138);
    background: radial-gradient(circle, rgba(58,137,138,1) 5%, rgba(24,195,199,1) 76%);
}
input {
    border-radius: 5px;
    border: 0px;
    min-height: 25px;
    font-size: 20px;
}


.output-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.output-area span {
    font-size: 1.5rem;
}
.output-fields{
    display: flex;
    justify-content: space-between;
    
}

.donem-out-container ,.olk-out-container, .meter-out-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    width: 25%;
}
.donem-out-container span ,.olk-out-container span, .meter-out-container span {
    width: 25%;
}
.donem-out-container input ,.olk-out-container input, .meter-out-container input {
    width: 100%;
    font-size: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    row-gap: 2rem;
}

.total-shares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.single-shares{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    font-size: 1.5rem;
}

.calculate {
    width: 100%;
    display: flex;
    justify-content: center;
}
.calculate button {
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
}

#donem-out , #olk-out , #meter-out {
    text-align: center;
    transform: scale(1.2);
    background-color: white;
    border: 0px;
    border-radius: 4px;
    color: black;
    /* padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

@media only screen and (max-width: 600px){
	body {
        flex-direction: column-reverse;
        position: absolute;
    }
   input:focus {
    scroll-margin: 0px;
    scroll-padding: 0px;
   }
    
}